{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Cápitan América</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam in reprehenderit, praesentium autem repudiandae veniam repellendus eveniet, modi esse beatae, dolorum facilis! Laudantium odio saepe maiores porro necessitatibus molestias corrupti?
        </p>
    </div>


    <div class="col-4">
        <img src="assets/img/capitan-america.png" class="img-thumbnail">
    </div>


</div>

  



{{> footer }}